body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#user-messages {
  position: absolute;
  top: 170px;
  bottom:0px;
  right:10px;
  /* color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  background-color: rgb(34, 185, 82); */
  /* width: 100px;
  height: 60px; */
}
#match-messages {

  position: absolute;
  top: 170px;
  bottom:0px;
  left:10px;

  
}
.user-messages {

  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 25px;
  margin-top: 5px;
  width:fit-content;
  padding: 10px;

  background-color: rgb(80, 178, 41);
}

.match-messages {
 

  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 25px;
  margin-top: 5px;
  width:fit-content;
  padding:10px;

 

  background-color: rgb(85, 103, 208);
}

